@charset "UTF-8";

/* 모바일을 기본 */
/* wrap 영역---------------------------------------------------------------- */
#wrap{
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

/* info_section 영역---------------------------------------------------------------- */
.info_section{
    width: 100%;
    background-color: black;
    border-bottom: 2px solid white;
    order: 1;
}

/* info_list 영역---------------------------------------------------------------- */
.info_list{
    display: flex;
}

.info_list li{
    width: calc(100% / 4);
    text-align: center;
}

.info_list li a{
    display: block;
    padding: 15px 0;
}
/* header 영역---------------------------------------------------------------- */
.header{
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    order: 2;
}

/* logo 영역---------------------------------------------------------------- */
.logo{
    width: 100%;
    text-align: center;
    background-color: black;
    color: white;
    font-size: 28px;
    line-height: 40px;
    text-shadow: 0 0 10px white;
    padding: 30px 0;
    z-index: 60;
    border-bottom: 2px solid white;
}

/* nav 영역---------------------------------------------------------------- */
.nav{
    width: 100%;
}

/* gnb 영역---------------------------------------------------------------- */
.gnb{
    display: none;
}

.gnb li{
    display: flex;
    justify-content: space-between;
    background-color: gray
}

.gnb li a{
    color: white;
    width: 80%;
    padding: 15px 0;
    text-indent: 20px;
    font-weight: bold;
    font-size: 14px;
}

.sub_menu_toggle_btn{
    width: 20%;
    background: url(../img/s_img/sub_menu_toggle_btn.png) center center no-repeat;
    cursor: pointer;
    text-indent: -9999px;
}

/* menu_toggle_btn 영역---------------------------------------------------------------- */
.menu_toggle_btn{
    position: absolute;
    width: 30px;
    height: 30px;
    background: url(../img/s_img/menu_toggle_btn.png) no-repeat;
    text-indent: -9999px;
    right: 10px;
    top: 10px;
    cursor: pointer;
    z-index: 61;
}
/* sub_head_section 영역---------------------------------------------------------------- */
.sub_head_section{
    order: 3;
    padding: 45px 0;
    text-align: center;
    background-color: black;
    color: white;
    border-bottom: 2px solid white;
}

.sub_head_section h2{
    font-size: 18px;
    margin-bottom: 12px;
}

.sub_hade_list{}

.sub_hade_list li{
    display: inline-block;
    font-size: 12px;
}

/* content_section 영역---------------------------------------------------------------- */
.content_section{
    width: 100%;
    order: 4;
    background-color: black;
    padding: 20px;
}

/* cont_row_1 영역---------------------------------------------------------------- */
.cont_row_1{}

.board_table{
    width: 100%;
}
.board_table caption{
    visibility: hidden;
}

.board_table thead{
    font-size: 14px;
    text-align: center;
    color: white;
    background-color: gray;
}
.board_table tbody{
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    color: rgb(78, 78, 78);;
}

.board_table tbody tr:nth-child(odd){
    background-color: white;
}   

.board_table tbody tr:nth-child(even){
    background-color: gray;
}

.board_table th, .board_table td{
    padding: 22px 0;
}

.board_table th:first-child,
.board_table th:nth-child(3),
.board_table th:nth-child(4),
.board_table td:first-child,
.board_table td:nth-child(3),
.board_table td:nth-child(4) {
    display: none;
}

.board_table td:nth-child(2){
    text-align: left;
    text-indent: 15px;
}

/* cont_row_2 영역---------------------------------------------------------------- */
.cont_row_2{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
/* search_box 영역---------------------------------------------------------------- */
.search_box{}

#search_window{
    width: 110px;
    height: 30px;
    font-size: 12px;
    text-indent: 10px;
    display: inline-block;
}

/* search_select_box 영역---------------------------------------------------------------- */
.search_select_box{
    display: none;
    /* display: inline; */
    position: relative; 
}

.search_select_box span{
    display: inline-block;
    width: 80px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: rgb(78, 78, 78);
    color: white;
    font-size: 12px;
    cursor: pointer;
}


/* search_select_list 영역---------------------------------------------------------------- */
.search_select_list{
    position: absolute;
    top: 105%;
    left: 0;
    width: 100%;
    display: none;
}

.search_select_list li{
    background-color: white;
    font-size: 11px;
    padding: 6px 0;
    text-indent: 10px;
    cursor: pointer;
}

/* write_box 영역---------------------------------------------------------------- */
.write_box{}

.write_box a{
    display: block;
    width: 80px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: rgb(78, 78, 78);
    color: white;
    font-size: 12px;
    cursor: pointer;
}

/* cont_row_3 영역---------------------------------------------------------------- */
.cont_row_3{
    display: flex;
    justify-content: center;
    margin: 30px 0;
    color: white;
}

.cont_row_3 span{
    width: 28px;
    height: 28px;
    text-indent: -9999px;
    background-color: gray;
    background-repeat: no-repeat;
    background-position: center center;
}

.cont_row_3 span.list_prev_btn{
    background-image: url(../img/s_img/list_prev_btn.png);
}

.cont_row_3 span.list_next_btn{
    background-image: url(../img/s_img/list_next_btn.png);
}

.cont_row_3 a{
    width: 28px;
    height: 28px;
    border: 1px solid white;
    text-align: center;
    line-height: 28px;
    color: white;
    margin: 0 5px;
    transition: all 0.3s;
    font-size: 12px;
}

.cont_row_3 a:hover{
    background-color: rgb(78, 78, 78);
    color: white;
}

/* footer 영역---------------------------------------------------------------- */
.footer{
    width: 100%;
    background-color: black;
    order: 5;
    border-top: 2px solid white;
}

.footer p{
    color: white;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    text-shadow: 0 0 10px white;
}

/* 태블릿 용 */
@media screen and (min-width:768px) {
    #wrap{
        flex-direction: row;
        flex-wrap: wrap;
        /* flex-flow: row wrap; */
    }

    /* info_section 영역---------------------------------------------------------------- */
    .info_section{
        order: 1;
    }

    /* header 영역---------------------------------------------------------------- */
    .header{
        order: 2;
        flex-direction: row;
    }

    .logo{
        width: 20%;
        position: absolute;
        top: 0;
        left: 0;
        border-right: 2px solid white;
    }

    .nav{
        background: black;
        min-height: 80px;
        border-bottom: 2px solid white;
    }

    .gnb{
        position: absolute;
        width: 40%;
        top: 100%;
        right: 0;
    }

    /* sub_head_section 영역---------------------------------------------------------------- */
    .sub_head_section{
        width: 100%;
    }

    /* gallery_list 영역---------------------------------------------------------------- */
    
    .search_select_box{
        display: inline-block;
    }
    
    .board_table th:first-child,
    .board_table th:nth-child(3),
    .board_table th:nth-child(4),
    .board_table td:first-child,
    .board_table td:nth-child(3),
    .board_table td:nth-child(4) {
        display: table-cell  ;
    }


    /* footer 영역---------------------------------------------------------------- */
    .footer p{
        padding: 50px 0;
    }



} /* min-width:768px */

/* pc 용 */
@media screen and (min-width: 960px){
    #wrap{
        width: 90%;
        position: relative;
    }

    /* info_section 영역---------------------------------------------------------------- */
    .info_section {
        width: auto;
        order: 0;
        position: absolute;
        top: 15px;
        right: 30px;
        z-index: 30;
        border-bottom: none;
    }
        
    .info_section li{
        width: auto;
        margin-left: 15px;
    }

    .info_list li a{
        padding: none;
    }

    /* header 영역---------------------------------------------------------------- */
    .header {
        order: 1;
        justify-content: flex-end;
    }

    .nav{
        width: 80%;

    }

    .gnb{
        display: flex !important;
        width: 100%;
        position: static;
        align-items: center;
        height: 100%;
        text-shadow: 0 1px 10px white;
    }
    
    .gnb li{
        display: block;
        margin-left: 5%;
        background-color: transparent;
    }

    .sub_menu_toggle_btn{
        display: none;
    }

    .menu_toggle_btn{
        display: none;
    }

    /* gallery_list 영역---------------------------------------------------------------- */


    /* footer 영역---------------------------------------------------------------- */
    .footer p{
        padding: 50px 0;
    }

} /* min-width: 960px */

